@import '~components/generic-styles';

.minicontact-us {
    /*background-color: $black-shadow;*/
    background-color: $dark-black;
    /*background-image: url('~img/welcome/background.png');*/
    background-image: url('~img/shattered.png');
}

.minicontact-us-container {
    max-width: $main-part-max-width;
    margin: 0 auto;

    .minicontact-us-title {
        @include regular-font();

        font-size: 40px;
        color: $text-white;
        display: block;
        text-align: center;

        padding: 50px 0 70px 0;
    }

    .minicontact-us-subtitle {
        @include regular-font();

        font-size: 30px;
        color: $dark-grey;
        display: block;
        text-align: center;
        margin-bottom: 50px;
    }

    input, textarea {
        display: block;
        width: 500px;
        background: transparent;
    }

    .input, .textarea {
        padding: 9px;
        font-family: 'Roboto-Regular';
        font-size: 23px;
        color: $dark-grey;
        /*background-color: $black-shadow;*/
        /*background-color: $grey-shadow;*/
        /*background-color: $dark-black;*/
        border: 1px solid $text-almost-white;
        margin: 0 auto;
        border-bottom: none;
    }

    .input.minicontact-us-name {
        border-bottom: 1px solid $text-almost-white;
        margin-bottom: 43px;
    }

    .textarea {
        border-bottom: 1px solid $text-almost-white;
    }

    .minicontact-us-button {
        margin: 5% 0 5% 75%;
    }
}