@import '~components/generic-styles';

$current-color: $non-purchased-red;
/*$current-color: $not-sale-yellow*/

.development-step {
    max-width: $main-part-max-width - 200px;
    @include regular-font();
    padding: 2em 3.5%;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 3px solid $current-color;

    &:last-child {
        border-bottom: none;
    }
}

.development-step-title {
    display: block;
    text-align: center;
    margin: 20px 0;
    font-size: 25px;
}

.development-step-label {
    display: block;
    color: $dark-grey-text;
    line-height: 24px;
}

.development-step-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.development-step-number {
    min-width: 67px;
    max-width: 67px;
    height: 72px;
    background-color: $current-color;
    color: $text-white;
    border-radius: 8px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 30px;
}

.development-step-label {
    margin: 0 18px;
}

.development-step-image {
    min-width: 92px;
    max-width: 92px;
    height: 92px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
