@import '~components/generic-styles';

.toast {
    height: $toast-height;

    animation-duration: 1s;
    transform: translate3d(0, $toast-height, 0);
    animation-name: fade-in;

    background-color: $non-purchased-red;
    color: $text-white;
    font-family: 'Roboto Regular';
    font-size: 24px;
    text-transform: uppercase;

    display: flex;
    justify-content: space-around;
    align-items: center;

    &.fade-out {
        animation-name: fade-out;
        transform: translate3d(0, 2 * $toast-height, 0);
        opacity: 0;
    }

    .fa {
        padding-left: 10px;
    }

    .toast-message {
        padding: 0 10px;
    }
}

@keyframes fade-in {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, $toast-height, 0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translate3d(0, $toast-height, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 2 * $toast-height, 0);
    }
}