@import '~components/generic-styles';

.our-location-container {
    width: 100%;
    text-align: center;
    padding: 28px 0;
}

.our-location-title {
    display: block;
    margin-bottom: 12px;

    .fa {
        font-size: 30px;
        padding-right: 4px;
        color: $non-purchased-red;
    }
}

.our-location {
    display: inline-block;
    border: 1px solid rgba(44,44,44,.3);
    box-sizing: border-box;

    a {
        color: $black-heart;
    }
}

.our-location-title-text {
    font-size: 25px;
    font-family: "Roboto Medium";
}

.our-location-image {
    width: 380px;
    height: 180px;

    display: inline-block;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("~img/location.png");
    margin: 40px 20px 40px 40px;
}

.our-location-description {
    display: inline-block;
    vertical-align: top;
    padding-top: 40px;
}

.our-location-name, .our-location-synopsis, .our-location-phone, .our-location-directions-text {
    font-family: 'Roboto Regular';
}

.our-location-name {
    display: block;
    font-size: 20px;
}

.our-location-synopsis {
    display: block;
    width: 327px;
    padding: 12px 40px 12px 0;
    color: $black-shadow;
}

.our-location-row {
    .fa {
        font-size: 20px;
        vertical-align: bottom;
        margin-right: 5px;
    }
}

.our-location-phone:after {
    display: inline-block;
    margin: 0 10px;
    content: '';
    height: 21px;
    width: 1px;
    background-color: $black-shadow;
    vertical-align: bottom;
}

.our-location-directions-link {
    position: relative;
}

.our-location-directions-link:hover .our-location-directions-text:after {
    right: -23px;
}

.our-location-directions-text:after {
    position: absolute;
    top: -3px;
    right: -17px;

    transition: right .2s linear;

    font-size: 30px;
    line-height: 17px;
    vertical-align: middle;
    display: inline-block;
    content: "\bb";
}
