@import '~components/generic-styles';

.services-item {
    display: flex;
    width: 49%;
    margin-bottom: 68px;

    a {
        min-width: 188px;
        max-width: 188px;
        width: 188px;
    }
}

.service-item-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 28px;

    height: 137px;
    min-width: 160px;
    max-width: 160px;
    width: 160px;
}

.service-item-title {
    font-family: 'Roboto Regular';
    color: $black-shadow;
    display: block;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.1;
    margin-bottom: 14px;
}

.service-item-label {
    font-family: 'Roboto Regular';
    font-size: 16.6px;
}