@import '~components/generic-styles';

.header {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background-color: $black-shadow;
    /*background-color: $dark-black;*/
    z-index: 2;

    .logo {
        display: flex;
        flex-flow: row;

        cursor: pointer;

        .logo-image {
            width: 36px;
            height: 40px;
            background-image: url("~img/logo_white.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 0 2px 9px 5px;
        }

        .logo-text {
            color: $text-white;
            @include logo-font();
        }
    }

    .navigation {
        display: flex;
        flex-flow: row;
        align-items: center;
        margin-right: 20px;

        @include regular-font();

        .navigation-item {
            display: block;
            text-decoration: none;
            margin-right: 29px;
            cursor: pointer;
            white-space: nowrap;
            position: relative;

            .navigation-item-text {
                transition: color .7s ease-out;
            }

            a {
                color: $text-white;
            }

            &.selected {
                .navigation-item-text {
                    color: $not-sale-yellow;
                }
            }

            &:hover {
                .navigation-item-text {
                    transition: none;
                    color: $not-sale-yellow;
                }

                .navigation-item-submenu {
                    display: block;
                    /*animation: opacity-animation .6s;*/
                    animation-duration: 1s;
                    animation-name: opacity-animation;
                }
            }

            .navigation-item-submenu {
                position: absolute;
                display: none;
                background: transparent;
                text-align: center;
                margin-left: -50%;

            }

            .navigation-submenu-list {
                margin-top: 20px;
                background-color: $black-shadow;
            }

            .navigation-sub-item {
                a {
                    display: block;
                    padding: 24px 20px;
                    transition: transform .15s linear;
                }

                .navigation-submenu-item-text {
                    color: $text-almost-white;
                }

                &:hover {
                    a {
                        transform: scale(1.1, 1.1);
                        /*background-color: $dark-grey;*/
                        background-color: $invisible-grey;
                    }

                    .navigation-submenu-item-text {
                        color: $black-shadow;
                        /*color: $not-sale-yellow;*/
                    }
                }
            }
        }
    }

}

@keyframes opacity-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
