@import '~components/generic-styles';

.seo-container {
    overflow: auto;

    .welcome-container {
        background-color: $not-sale-yellow;
    }

    .seo-image {
        background-image: url('~img/seo/seo.png');
        background-size: contain;
        background-position: center;
        width: 500px;
        height: 371px;
        margin: 3.5% auto;
    }

    .seo-schema-title {
        display: block;
        color: $black-heart;
        font-family: 'Roboto Regular';
        text-align: center;
        font-size: 38px;
        line-height: 52px;
        margin: 20px 0 0 0;
    }

    .seo-schema-title::after {
        content: '';
        display: block;
        margin: 10px auto 0 auto;
        width: 150px;
        border-bottom: 1px solid #fa524a;
    }
}
