.services-container {
    .website {
        background-image: url("~img/services/laptop.png");
    }

    .mobile {
        background-image: url("~img/services/phone.png");
    }

    .cms {
        background-image: url("~img/services/cms.png");
    }

    .support {
        background-image: url("~img/services/handshake.png");
    }

    .seo {
        /*background-image: url("~img/services/seo.png");*/
        background-image: url("~img/services/advertising.png");
    }

    .machine-learning {
        background-image: url("~img/services/ml.png");
    }

    .big-data {
        background-image: url("~img/services/big-data.png");
    }
}
