@import '~components/generic-styles';

.portfolio-container {
    padding: 5px;
    background-color: $dark-grey-text;

    min-height: 49em;

    .portfolio-coming-soon-title {
        @include regular-font();
        color: $text-white;
        display: block;
        text-align: center;
        padding: 30px 0 0 0;
        font-size: 2.2em;
    }

    .portfolio-mosaic {
        margin-top: 40px;
    }

    .mosaic-item-container {
        margin-bottom: 30px;
        height: 24em;
        overflow: hidden;
        border-radius: .3em;
        position: relative;

        background-color: $black-shadow;

        &:hover {
            .portfolio-text-container {
                transform: translate3d(0, -273px, 0);
                height: 20em;
            }
        }
    }
}
