@import '~components/generic-styles';

.services-list {
    max-width: $main-part-max-width;
    min-width: 250px;
    margin: 40px auto 0 auto;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
