@import '~components/generic-styles';

.team-member {
    position: relative;
    width: 236px;
    height: 312px;

    display: inline-block;

    margin-right: 28px;
    vertical-align: top;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        .team-member-face {
            transform: rotateY(180deg);
        }
    }

    &:hover {
        .team-member-back {
            transform: rotateY(0deg);
        }
    }

    font-family: 'Roboto Regular';
}

.team-member-face {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    &.edvards-kazlouski {
        background-image: url("~img/photos/edvards-kazlouski.jpg");
    }

    &.yury-kharytanovich {
        background-image: url("~img/photos/yury-kharytanovich.jpg");
    }

    &.stanislav-belous {
        background-image: url("~img/photos/stanislav-belous.jpg");
    }

    transform: rotateY(0deg);
    transition: transform 1s;
    backface-visibility: hidden;
}

.team-member-back {
    transform: rotateY(180deg);
    transition: transform 1s;
    backface-visibility: hidden;

    background-color: $black-shadow;
    opacity: .95;
    height: 100%;
    text-align: left;
    padding-left: 28px;
    position: relative;
}

.team-member-face-name {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;

    color: $text-white;
    font-size: 16px;
}

.team-member-back-name {
    display: block;
    color: $text-white;
    font-family: 'Roboto Regular';
    padding-top: 28px;
    font-size: 18px;
    line-height: 24px;
}

.team-member-back-role {
    display: block;
    color: $text-almost-white;
    font-family: 'Roboto Regular';
    font-size: 16px;
    line-height: 20px;
}

.team-member-back-phone {
    display: block;
    color: $text-almost-white;
    font-family: 'Roboto Regular';
    font-size: 16px;
    line-height: 22px;
    margin-top: 90px;
}

.team-member-back-email {
    display: block;
    color: $text-white;
    font-family: 'Roboto Regular';
    font-size: 16px;
    line-height: 22px;
}

.team-member-social {
    position: absolute;
    bottom: 0;
    right: 10px;

    a {
        display: inline-block;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        margin: 5px;
        text-align: center;

        color: $text-almost-white;

        transition: all .7s linear;

        &:hover {
            background-color: $text-almost-white;
            color: $black-heart;
        }

        span {
            display: block;
            margin-top: 6px;
        }
    }
}
