@import '~components/generic-styles';

/* scroll bar */
body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
    background-color: $dark-grey;
    outline: 1px solid slategrey;
}

.app {
    position: relative;

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .app-content {
        margin-top: 65px;
        overflow: auto;
    }
}