@import '~components/generic-styles';

.language-picker {
    @include regular-font();

    padding-top: 5px;
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 15px;
    color: $dark-grey;

    .language-item {
        cursor: pointer;
        transition: color .7s ease-out;

        &:hover {
            color: $not-sale-yellow;
            transition: none;
        }

        &.selected-language {
            color: $non-purchased-red;
        }
    }

    .divider {
        width: 1px;
        transition: background 1s;
        background: $dark-grey;
        height: 13px;
        margin: 0 8px;
    }
}
