@import '~components/generic-styles';

.seo-schema {
    .development-step-number {
        background-color: $not-sale-yellow;
    }

    .development-step {
        max-width: 950px;
        min-width: 950px;
        width: 950px;
    }

    .development-step-label {
        max-width: 500px;
        font-family: 'Roboto Regular';
        color: $black-shadow;
        font-size: 22px;
        text-align: center;
    }

    .request {
        background-image: url("~img/seo/schema/request.png");
    }

    .analysis {
        background-image: url("~img/seo/schema/analysis.png");
    }

    .keywords {
        background-image: url("~img/seo/schema/keywords.png");
    }

    .contract {
        background-image: url("~img/seo/schema/contract.png");
    }

    .company {
        background-image: url("~img/seo/schema/company.png");
    }

    .account {
        background-image: url("~img/seo/schema/account.png");
    }

    .correct {
        background-image: url("~img/seo/schema/correct.png");
    }

}