<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-language" content="en" />
        <meta name="description" content="WebileSoft customer-oriented company focused on creating specific and optimized websites& mobile apps." />
        <meta name="keywords" content="development,SEO,website,mobile,big data,machine learning,design"/>
        <title>WebileSoft</title>
        <meta charset="UTF-8">
        <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
    </head>
    <body>
        <div id="app-container" class="app-container"></div>
    </body>
</html>