@import '~components/generic-styles';

.portfolio-mosaic-item-container {
    color: $dark-grey;
    font-family: 'RobotoRegular';
    font-size: 1.1em;

    .portfolio-picture {
        height: 15.5em;
        background-size: cover;
        border-top-left-radius: .3em;
        border-top-right-radius: .3em;

        &.myconstructor {
            background-image: url("~img/portfolio/myconstructor.png");
        }

        &.dev {
            background-image: url("~img/portfolio/dev.png");
        }

        &.boutique {
            background-image: url("~img/portfolio/boutique.png");
        }

        &.metr {
            background-image: url("~img/portfolio/metr.png");
        }

        &.new-orleans {
            background-image: url("~img/portfolio/new-orleans.png");
        }

        &.casino-euro {
            background-image: url("~img/portfolio/casino-euro.png");
        }
    }

    .portfolio-picture-shadow {
        position: absolute;
        top: 0;
        width: 100%;
        height: 15.5em;
        background-color: $black-shadow;
        opacity: 0.5;
    }

    .portfolio-text-container, .portfolio-technologies {
        background-color: rgba(0, 0, 0, .85);
    }

    .portfolio-text-container {
        border-top-right-radius: .3em;
        border-top-left-radius: .3em;
        /*height: 20em;*/
        height: 4em;
        transition: all .25s ease-out;
        transform: translate3d(0, 0, 0);
    }

    .portfolio-title {
        display: block;
        color: $text-white;
        padding: 4% 6%;
        font-size: 1.6em;
    }

    .portfolio-description {
        padding: 2% 6% 0 6%;
        line-height: 1.5em;
        font-size: 1.1em;
        display: block;
    }

    .portfolio-technologies-container {
        border-bottom-right-radius: .3em;
        border-bottom-left-radius: .3em;
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: $black-shadow;
        height: 3em;
    }

    .portfolio-technologies{
        padding: 4% 6% 0 6%;
        font-size: .9em;
        height: 100%;
        box-sizing: border-box;
        border-radius: .3em;
    }

    .portfolio-technologies-list {
        display: inline-block;
    }

    .portfolio-technology {
        font-weight: 600;
        color: $invisible-grey;
        padding-left: 3.5%;
    }

    .portfolio-link {
        color: $text-white;
        font-size: 1.2em;
        display: block;
        text-align: center;
        padding-top: 5%;
    }
}

