.business-requirements {
    background-image: url('~img/development/requirements.png');
}

.contract {
    background-image: url('~img/development/contract.png');
}

.specification {
    background-image: url('~img/development/specification.png');
}

.design {
    background-image: url('~img/development/design.png');
}

.developemnt-testing {
    background-image: url('~img/development/development.png');
}

.demo-support {
    background-image: url('~img/development/support.png');
}
