@import '~components/generic-styles';

.development-container {
    font-family: 'Roboto Regular';

    .welcome-container {
        background-color: $non-purchased-red;
    }

    .development-image {
        background-image: url('~img/development.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 403px;
        height: 240px;
        margin: 5% auto;
    }

    .development-schema-title, .development-title {
        font-size: 25px;
        display: block;
        margin-top: 3%;
        text-align: center;
        color: $black-shadow;
    }

    .development-title {
        margin-bottom: 3%;
    }

    .development-description {
        display: block;
        max-width: $main-part-max-width - 200px;
        min-width: 250px;
        margin: 2% auto;
        font-size: 20px;
        color: $dark-grey-text;
    }

    .development-button {
        display: block;
        margin: 3% auto 0 auto;
    }

    .minicontact-us {
        margin-top: 2em;
    }

}
