@import '~components/generic-styles';

.our-vacancies {
    max-width: $main-part-max-width;
    min-width: 250px;
    margin: 0 auto;

    @include regular-font();

    color: $dark-grey-text;
    line-height: 24px;

    .vacancies-container {
        display: flex;
    }

    .mouse {
        display: inline-block;
        width: 150px;
        min-width: 150px;
        height: 173px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .vacancies-designer {
        margin-right: 20px;
        background-image: url("~img/about_us/designer.png");
    }

    .our-vacancies-title {
        display: block;
        color: $black-shadow;
        font-size: 25px;
        text-align: center;
        margin: 20px 0 10px 0;
    }

    .vacancies-description {
        display: block;
        padding-top: 10px;
    }

    .vacancies-list {
        padding-top: 20px;
    }

    .fa {
        font-size: 12px;
        width: 24px;
        height: 17px;
        margin-top: 7px;
        vertical-align: top;
        text-align: center;
    }
}
