@import '~components/generic-styles';

.seo-text-container {
    max-width: $main-part-max-width - 360px;
    margin: 1% auto 4% auto;
    display: flex;
    justify-content: space-between;
}

.seo-main-text {
    display: inline-block;
    width: 48%;
    font-family: 'Roboto Regular';
    font-size: 18px;

    color: $black-shadow;
    vertical-align: top;
}
