@import '~components/generic-styles';

.about-us-info {
    max-width: $main-part-max-width;
    min-width: 250px;
    margin: 0 auto;

    .about-us-info-container {
        display: flex;
    }

    .mouse {
        display: inline-block;
        width: 150px;
        min-width: 150px;
        height: 173px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .about-us-developer {
        margin-right: 20px;
        background-image: url("~img/about_us/developer.png");
    }

    .about-us-customer {
        background-image: url("~img/about_us/customer.png");
        margin-left: 20px;
    }

    .about-us-garanties-container {
        display: flex;
    }

    .about-us-title, .became-client-garanties {
        display: block;
        text-align: center;
        margin: 20px 0 10px 0;
        @include regular-font();
        font-size: 25px;
    }

    .about-us-text-container {
        display: inline-block;
        @include regular-font();

        span {
            color: $dark-grey-text;
            line-height: 24px;
            display: block;
            margin-top: 10px;
        }

    }

    .about-us-garanties {
        margin-bottom: 20px;
        @include regular-font();

        .client-guarantee {
            color: $dark-grey-text;
            margin: 10px 0 0 10px;
            line-height: 24px;

            .fa {
                width: 20px;
            }
        }

        .client-guarantee-text {
            margin-left: 10px;
        }
    }
}
