@font-face {
    font-family: 'Roboto Regular';
    src: url('~fonts/roboto-regular.ttf') format('truetype');
}

/*@font-face {
    font-family: 'Roboto Bold';
    src: url('~fonts/roboto-bold.ttf') format('truetype');
}
*/

@font-face {
    font-family: 'Roboto Medium';
    src: url('~fonts/roboto-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Bebas';
    src: url('~fonts/bebas.ttf') format('truetype');
}

@mixin logo-font() {
    font-family: 'Bebas';
    font-size: 46px;
    line-height: 46px;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
}

@mixin regular-font() {
    font: normal 300 20px/20px 'Roboto Regular'
}

@mixin medium-title-font() {
    font-family: "Roboto Medium";
    font-size: 25px;
    line-height: 25px;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
}