@import '~components/fonts';

$fa-font-path: "~font-awesome/fonts";

@import "~font-awesome/scss/font-awesome";

/* color variables */
$black-heart: #202020;
$black-shadow: #2c2c2c;
$dark-black: #232323;
$not-sale-yellow: #ffb746;
$dark-grey: #a9a9a9;
$dark-grey-text: #515151;
$invisible-grey: #e8e8e8;
$text-white: #fff;
$text-almost-white: #f2f2f2;
$non-purchased-red: #fa524a;
$blood-red: #f62f26;

/* global size variables */
$main-part-max-width: 1250px;
$toast-height: 85px;