html, body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input, textarea, button {
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
    overflow: hidden;
}

a {
    text-decoration: none;
}
