@import '~components/generic-styles';

.our-team-container {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.our-team-title {
    @include regular-font();
    font-size: 25px;
    margin: 28px 0 30px 0;
    display: block;
}