@import '~components/generic-styles';

.footer-container {
    /*background-color: $black-shadow;*/
    /*background-color: $dark-black;*/
    background-color: $black-heart;
    background-image: url('~img/welcome/background.png');
    height: 140px;
    color: $text-white;

    @include regular-font();

    .footer {
        max-width: 900px;
        margin: 0 auto;
        height: 100%;

        .block {
            padding-top: 20px;
            box-sizing: border-box;
            display: inline-block;
            width: 33%;
            height: 100%;
            vertical-align: top;
        }
    }

    .footer-about-us, .footer-services {
        a {
            display: block;
        }
    }

    .footer-main-title {
        color: $text-white;
        font-size: 20px;
    }

    a {
        font-size: 16px;
        color: $dark-grey;
    }

    a, span {
        transition: color .5s;
    }

    a:hover, span:hover {
        color: $not-sale-yellow;
        transition: none;
    }

    .footer-services {
        line-height: 24px;
    }

    .footer-spy {
        line-height: 24px;

        span {
            line-height: 24px;
        }
    }

    .social {
        i {
            margin-right: 10px;
        }

        a:hover {
            color: $text-white;
        }
    }

    .support-email, .support-phone {
        color: $dark-grey;
        font-size: 17px;
        line-height: 20px;
        display: block;
    }

    .support-phone {
        font-size: 16px;
    }
}
