@import '~components/generic-styles';

.seo-services {
    max-width: $main-part-max-width;
    min-width: 250px;
    margin: 0 auto;
    border-bottom: 1px solid #e8e8e8;

    .services-item {
        align-items: center;
    }

    .service-item-image {
        height: 120px;
    }

    .seo-services-title {
        display: block;
        font-size: 25px;
        text-align: center;
        /*margin: 30px 0 20px 0;*/
        margin: 30px 0 40px 0;
        font-weight: 700;
        font-family: 'Roboto Regular';
        color: $black-shadow;
        line-height: 1.1;
    }

/*    .search {
        background-size: 50%;
        background-image: url("~img/seo/search.png");
    }

    .on-page-seo {
        background-size: 55%;
        background-image: url("~img/seo/page-seo.png");
    }

    .keyword-research {
        background-image: url("~img/seo/research.png");
    }
*/
    .target-audience {
        background-image: url("~img/seo/target-audience.png");
    }

    .region-settings {
        background-image: url("~img/seo/region-settings.png");
    }

    .click-payment {
        background-image: url("~img/seo/click-payment.png");
    }

    .flex-click-cost {
        background-image: url("~img/seo/flex-click-cost.png");
    }

}
