@import '~components/generic-styles';

.welcome-container {
    position: relative;

    .welcome-background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        background-image: url('~img/background.png');
        background-size: cover;
    }

    .welcome-background-shadow {
        background-color: rgba(44, 44, 44, .8);
    }

    .contact-us-container {
        display: inline-block;
        margin-left: 60%;
        font-size: 44px;
        padding: 8.5em 0;
        color: $text-almost-white;
        text-transform: uppercase;
        font-family: 'Roboto Regular';

        .problem {
            color: $dark-grey;
        }

        span {
            display: block;
        }
    }

    .contact-us-button {
        margin-top: 10px;
    }
}
