@import '~components/generic-styles';

.reviews-mosaic {
    max-width: 70%;

    .mosaic-item-container {
        min-width: 0;
        width: 250px;
    }

    .review-title {
        @include regular-font();
        color: $text-white;
        display: block;
        text-align: center;
        padding: 7% 0 0 0;
    }

    .review-picture {
        height: 19em;
        background-size: cover;
/*        border-top-left-radius: .3em;
        border-top-right-radius: .3em;
*/
        &.myconstructor {
            background-image: url('~img/reviews/myconstructor.jpg');
        }

        &.boutique {
            background-image: url('~img/reviews/boutique.jpg');
        }

        &.casino-euro {
            background-image: url('~img/reviews/casino-euro.jpg');
        }


    }
}
