@import '~components/generic-styles';

.welcome-container {
    background-repeat: repeat;
    background-position: left top;
    background-size: auto;
    background-image: url('~img/welcome/background.png');

    overflow: auto;
}

.welcome-title, .welcome-subtitle {
    color: $text-white;
    font-family: 'Roboto Regular';
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.welcome-title {
    display: block;
    font-size: 44px;
    line-height: 52px;
    margin-bottom: 20px;
}

.welcome-subtitle {
    font-size: 24px;
    line-height: 30px;
    display: block;
    margin-bottom: 24px;
}

@media (max-width: 1700px) {
    .welcome-title, .welcome-subtitle {
        width: 60%;
    }
}

@media (max-width: 1400px) {
    .welcome-title, .welcome-subtitle {
        width: 70%;
    }
}

@media (max-width: 1200px) {
    .welcome-title {
        font-size: 40px;
        line-height: 46px;
    }
    .welcome-subtitle {
        font-size: 20px;
        line-height: 27px;
    }
}

@media (max-width: 1050px) {
    .welcome-title {
        font-size: 35px;
        line-height: 42px;
    }
    .welcome-subtitle {
        font-size: 19px;
        line-height: 25px;
    }
}
