.mosaic-container {
    max-width: 85%;
    margin: 0 auto;
}

.mosaic-item-container {
    display: inline-block;
    width: 32%;
    margin-right: 1.5%;
    vertical-align: top;

    min-width: 340px;
}

@media (min-width: 1121px) {
    &:nth-child(3n) {
        margin-right: 0;
    }
}

@media (max-width: 1121px) {
    .mosaic-item-container {
        width: 48%;
        margin-right: 1.5%;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}


@media (max-width: 1300px) {
    .mosaic-container {
        max-width: 95%;
    }
}
