@import '~components/generic-styles';

.shared-button {
    font-family: 'Roboto Regular';
    font-size: 24px;
    padding: 18px 34px;
    background-color: $non-purchased-red;
    color: $text-white;
    text-transform: uppercase;

    transition: background-color .5s;

    &:hover {
        background-color: $blood-red;
    }
}
